<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skaiciuotuvas</title>
</head>
<body>
    <form action="/skaiciuokle">
        <label for="sk1">skaicius 1</label><br>
            <input type="text" id="sk1" name="sk1" value=""><br>
            </br></br>

        <label for="sk2">skaicius 2</label><br>
            <input type="text" id="sk2" name="sk2" value=""><br><br>
            </br></br>
            
        <label for="zenklas">Veiksmas (+, -, *, /, sqrt):</label><br>
        <input type="text" id="zenklas" name="zenklas" value=""><br><br>

        <input type="submit" value="Submit">
        
    <h1>Rezultatas: {{ats}}</h1>
</body>
</html>